input[type=submit]{
	background-color: #4fadd0;
	color: #ffffff;
	text-decoration: none;
	padding: 10px 25px;
	margin: 5px;
}

html, body {
	background: black;
	color: #636b6f;
	font-family: 'Arial', sans-serif;
	font-weight: 200;
	font-size:16px;
	height: 100vh;
	margin: 0;
}

.full-height {
	height: 100vh;
}

.flex-center {
	align-items: center;
	display: flex;
	justify-content: center;
}

.position-ref {
	position: relative;
}

.top-right {
	position: absolute;
	right: 22px;
	top: 20px;
	margin: 0px 0px 0px 950px;
}

.content {
	text-align: center;
}

.title {
	font-size: 84px;
}

.links > a {
	color: black;
	padding: 2px 13px;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: .1rem;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 30px;
	background: #f47b0a;
}

.m-b-md {
	margin-bottom: 30px;
	color:#f47b0a;
}

.logo{
	height: auto;
	position: fixed;
	top: 20px;
	left: 140px;
	font-size: 18px;     
}


}
.movie_slider{
	position: relative;
}
.movie_slider .container{
	width: 100%;
	max-width: 1160px;
	padding: 0;
	min-height: 708px;
	position: absolute;
	z-index: 2;
	top: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}
